.footerInner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 0;
    font-family: 'Inter', sans-serif;
}
.desc{
    font-size: 24px;
    margin: 17px 0;
}
.copyRight{
    font-size: 16px;
    opacity: .6;
}