.header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background-color: #000;
    z-index: 1000;
}
.headerInner{
    max-width: 1400px;
    margin: 0 auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}
.headerInner h1{
    width: 51px;
    height: 54px;
    background: url(../../public/Logo.svg) no-repeat center/cover;
}
.mobile_btn{
    width: 27px;
    height: 20px;
    background: url(../../public/assets/icons/header/mobile_btn.png) no-repeat center/cover;
}
.menu{
    position: fixed;
    width: 100vw;
    height: calc(100vh - 80px);
    top: 80px;
    left: 0;
    background-color: #000;
}
.menuInner{
    max-width: 1200px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav a{
    font-size: 48px;
    font-family: 'Panchang-Bold';
}
nav a span{
    position: relative;
}
nav a span::after{
    content: '';
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0;
    height: 6px;
    background: #d9d9d9;
    transition: all .5s;
}
nav a span:hover::after{
    width: 100%;
}
nav ul li{
    margin-bottom: 50px;
}
nav ul li:last-child{
    margin-bottom: 0;
}
.sns{
    display: flex;
    gap: 10px;
}
.sns li{
    width: 26px;
    height: 26px;
    border-radius: 50%;
}
.sns li:nth-child(1){
    background: url(../../public/assets/icons/sns/instagram.svg);
}
.sns li:nth-child(2){
    background: url(../../public/assets/icons/sns/facebook.svg);
}
.sns li:nth-child(3){
    background: url(../../public/assets/icons/sns/youtube.svg);
}
@media screen and (max-width: 1400px) {
    .header{
        height: 80px;
    }
    .headerInner{
        width: 90%;
    }
    .headerInner h1{
        width: 40px;
        height: 42px;
    }
    .mobile_btn{
        display: block;
    }
    .headerInner nav{
        position: fixed;
        left: 0;
        top: -100%;
        right: 0;
    }
    .headerInner nav.on{
        top: 0;
    }
    .headerInner nav ul{
        flex-direction: column;
        gap: 0;
        background-color: #000;
        padding-top: 40px;
    }
    .headerInner nav ul li{
        text-align: center;
        padding: 8px 0;
        border-bottom: solid 1px #fff;
    }
}