@font-face {
    font-family: 'Panchang-Variable';
    src: url('../../public/assets/fonts/Panchang-Variable.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Variable.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Variable.ttf') format('truetype');
         font-weight: 200 800;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Extralight';
    src: url('../../public/assets/fonts/Panchang-Extralight.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Extralight.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Extralight.ttf') format('truetype');
         font-weight: 200;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Light';
    src: url('../../public/assets/fonts/Panchang-Light.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Light.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Light.ttf') format('truetype');
         font-weight: 300;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Regular';
    src: url('../../public/assets/fonts/Panchang-Regular.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Regular.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Regular.ttf') format('truetype');
         font-weight: 400;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Medium';
    src: url('../../public/assets/fonts/Panchang-Medium.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Medium.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Medium.ttf') format('truetype');
         font-weight: 500;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Semibold';
    src: url('../../public/assets/fonts/Panchang-Semibold.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Semibold.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Semibold.ttf') format('truetype');
         font-weight: 600;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Bold';
    src: url('../../public/assets/fonts/Panchang-Bold.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Bold.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Bold.ttf') format('truetype');
         font-weight: 700;
         font-display: swap;
         font-style: normal;
  }
  
  
  @font-face {
    font-family: 'Panchang-Extrabold';
    src: url('../../public/assets/fonts/Panchang-Extrabold.woff2') format('woff2'),
         url('../../public/assets/fonts/Panchang-Extrabold.woff') format('woff'),
         url('../../public/assets/fonts/Panchang-Extrabold.ttf') format('truetype');
         font-weight: 800;
         font-display: swap;
         font-style: normal;
  }
/* font-family: 'Inter', sans-serif; */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}
body{
    background: #000;
    font-family: 'Panchang-Regular';
    color: #fff;
}
ol, ul {
	list-style: none;
}
img{
    border: none;
    vertical-align: top;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
a{
    display: block;
    text-decoration: none;
    color: #fff;
}
button{
    border: none;
    background: none;
    padding: 0;
    cursor: pointer;
}
.hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    white-space: nowrap;
    overflow: hidden;
    margin: -1px;
    clip: rect(0,0,0,0);
    clip-path: inset(50%);
}


/* 공통 style css */