#roadmap{
    margin: 100px 0;
}
.RoadMapInner{
    display: flex;
}
.RoadMapInner h3{
    font-family: 'panchang-bold';
    font-size: 64px;
}
.RoadMapList{
    display: flex;
}
.RoadMapList h4{
    font-family: 'panchang-bold';
    font-size: 28px;
    background: linear-gradient(90deg, #3C4FFF 10%, #FF68E3 35%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.RoadMapList p{
    font-family: 'inter';
    font-size: 16px;
    line-height: 150%;
}