#Sustain{
    position: relative;
    text-align: center;
}
#Sustain::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 50%;
    opacity: 0.6;
    background: #0019FF;
    filter: blur(300px);
}
#Sustain::after{
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 30%;
    padding-bottom: 30%;
    border-radius: 50%;
    opacity: 0.6;
    background: #FF68E3;
    filter: blur(300px);
}
.SustainInfo{
    text-align: center;
}
.SustainInfo img{
    width: 90%;
}
@media screen and (max-width: 1400px) {
    #Sustain::before{
        filter: blur(200px);
    }
    #Sustain::after{
        filter: blur(200px);
    }
}
@media screen and (max-width: 1024px) {
    #Sustain::before{
        filter: blur(150px);
    }
    #Sustain::after{
        filter: blur(150px);
    }
}
@media screen and (max-width: 640px) {
    #Sustain::before{
        left: 50%;
        width: 100%;
        padding-bottom: 100%;
        transform: translateX(-50%);
        filter: blur(200px);
    }
    #Sustain::after{
        right: 50%;
        width: 100%;
        padding-bottom: 100%;
        transform: translateX(50%);
        filter: blur(200px);
    }
}