.TeamInner{
    max-width: 1400px;
    margin: 0 auto;
}
.member{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(23%, 1fr));
    row-gap: 80px;
    column-gap: 30px;
    font-size: 18px;
}
.member img{
    width: 100%;
    border-radius: 4px;
}
.member dt{
    margin: 25px 0 15px 0;
}

  