.typo{
    padding: 100px 0;
}
.typoInner{
    max-width: 1400px;
    margin: 0 auto;
}
.typoInner h3{
    font-size: 96px;
    font-weight: 400;
    color: #d57373;
    line-height: 120%;
    margin: 100px 0 50px 0;
    transition: all .3s .3s;

    position: relative;
    left: -100px;
    opacity: 0;
}
.typo.on .typoInner h3{
    left: 0;
    opacity: 1;
}
.typoInner p{
    font-size: 60px;
    position: relative;
    opacity: 0;
    transition-property: all;
    transition-duration: .3s;
}
.typoInner p:first-child{
    left: -100px;
}
.typo.on .typoInner p:first-child{
    left: 0;
    opacity: 1;
}
.typoInner p:last-child{
    line-height: 100%;
    text-align: end;

    right: -100px;
}
.typo.on .typoInner p:last-child{
    right: 0;
    opacity: 1;
    transition-delay: .8s;
}

@media screen and (max-width: 1400px) {
    .main{
        margin-top: 80px;
        padding: 60px 0;
    }
    .mainInner{
        width: 90%;
    }
    .mainTitle h3{
        font-size: 48px;
    }
    .mainInfo p{
        font-size: 22px;
    }
    .mainAppBtn li{
        width: 180px;
    }
    .mainAppBtn li a{
        font-size: 18px;
    }
}

@media screen and (max-width: 1024px) {
    .mainInfo p{
        font-size: 18px;
    }
    .mainAppBtn li{
        width: 160px;
    }
    .mainAppBtn li a{
        font-size: 14px;
    }
}
@media screen and (max-width: 756px) {
    .mainAni{
        height: 60vh;
    }
    .mainAppBtn{
        width: 100%;
    }
    .mainAppBtn li{
        width: 80px;
        height: 80px;
        padding: 0;
        border-radius: 50%;
    }
    .mainAppBtn li a span{
        display: none;
    }
    .mainInfo p{
        display: none;
    }
}