@keyframes road {
    to{
        transform: translateX(0);
    }
}
@keyframes toTop {
    to{
        top: 0;
        opacity: 1;
    }
}

.typoInner{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 48px;
    padding: 24px 0;
}
.typoInner h4,
.typoInner p{
    font-size: 56px;
    color: #fff;
    font-family: 'panchang-bold';
}
.typoApp{
    display: flex;
    gap: 20px;
}
.typoInner > h4,
.typoApp{
    position: relative;
    top: 50px;
    opacity: 0;
}
.typo.on .typoInner > h4,
.typo.on .typoApp{
    animation: toTop 1s 1.5s forwards;
}
.typo.on .typoApp{
    animation-delay: 1s;
}
.typoApp p{
    background: linear-gradient(270deg, #FF69E3 75%, #5152FC 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.typoAppBtn{
    display: flex;
    gap: 20px;
}
.typoAppBtn a{
    width: 68px;
    height: 68px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.typoAppBtn a img{
    width: 33px;
}
.typoRoad{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
}
.typoRoad .side{
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #fff;
    transform: translateX(-100%);
}
.typo.on .typoRoad .side{
    animation: road 1.5s forwards;
}
.typo.on .typoRoad .side:last-child{
    animation-delay: .4s;
}
.typoRoad .middle{
    position: relative;
    width: 100%;
    height: 2px;
    transform: translateX(-100%);
    background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='white' stroke-width='4' stroke-dasharray='6%2c14' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");
}
.typo.on .typoRoad .middle{
    animation: road 1.5s .2s forwards;
}

@media screen and (max-width: 1400px) {
    .typoInner{
        gap: 40px;
        padding: 20px 0;
    }
    .typoInner h4,
    .typoInner p{
        font-size: 48px;
    }
    .typoAppBtn a{
        width: 56px;
        height: 56px;
    }
    .typoAppBtn a img{
        width: 28px;
    }
}

@media screen and (max-width: 1024px) {
    .typoInner{
        gap: 36px;
        padding: 18px 0;
    }
    .typoInner h4,
    .typoInner p{
        font-size: 36px;
    }
    .typoAppBtn a{
        width: 44px;
        height: 44px;
    }
    .typoAppBtn a img{
        width: 22px;
    }
}
@media screen and (max-width: 768px) {
    .typoInner{
        gap: 32px;
        padding: 16px 0;
    }
    .typoInner h4,
    .typoInner p{
        font-size: 20px;
    }
    .typoAppBtn a{
        width: 32px;
        height: 32px;
    }
    .typoAppBtn a img{
        width: 16px;
    }
}