.waiting{
    display: flex;
    width: 100vw;
    height: 100vh;
}
.waitingText{
    flex: 1;
    color: #fff;
    font-size: 80px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.waitingText h2{
    font-weight: 400;
    padding-left: 80px;
}
.waitingText p{
    padding-left: 80px;
}
.waitingText p:nth-child(2){
    margin: 100px 0 50px 0;
}
.waitingText p:last-child{
    font-size:  32px;
}
.waitingNav{
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: #fff;
}
.navLink > img{
    width: 100%;
}
.navLink{
    position: relative;
}
.waitingAppBtn{
    position: absolute;
    right: 50px;
    bottom: 50px;
}
.waitingAppBtn li:first-child{
    margin-bottom: 10px;
}
.waitingAppBtn a{
    display: block;
    width: 230px;
    height: 68px;
}
.waitingAppBtn li:first-child a{
    background: url(/public/assets/images/waiting/google.png) no-repeat center;
}
.waitingAppBtn li:last-child a{
    background: url(/public/assets/images/waiting/appstore.png) no-repeat center;
}
.waitingNav a{
    flex: 1;
    color: #000;
    font-size: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1600px) {
    .waitingText{
        font-size: 52px;
    }
    .waitingText p:last-child{
        font-size:  24px;
    }
}
@media screen and (max-width: 1200px) {
    .waiting{
        flex-direction: column;
        width: 100%;
        height: auto;
    }
    .waitingText{
        padding: 30px;
    }
    .waitingText h2{
        padding-left: 0;
    }
    .waitingText p{
        padding-left: 0;
    }
    .waitingText p:nth-child(2){
        margin: 60px 0 25px 0;
    }
    .waitingNav a{
        padding: 30px 0;
    }
}
@media screen and (max-width: 640px) {
    .waitingText{
        font-size: 36px;
    }
    .waitingText p:last-child{
        font-size:  18px;
    }
    .waitingText p:nth-child(2){
        margin: 40px 0 15px 0;
    }
    .waitingAppBtn{
        right: 50%;
        bottom: 50%;
        transform: translate(50%,50%);
    }
    .waitingNav a{
        font-size: 18px;
    }
}